@font-face {
    font-family: 'Space Mono';
    src: url('../assets/SpaceMono-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Space Mono';
    src: url('../assets/SpaceMono-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Courier Prime';
    src: url('../assets/CourierPrime-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Courier Prime';
    src: url('../assets/CourierPrime-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Alatsi';
    src: url('../assets/Alatsi-Regular.ttf');
    font-weight: 400;
  }